.radius-full { border-radius: 50% !important; }

.aspect-ratio-square {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body { background: var(--body-bg-color)}
