/* ==========================================================================
   COURSE NAVIGATOR
   ========================================================================== */


.slug-path-player .default.gray-minimal .-first-col-topbar, .slug-path-player .default.gray-minimal .-default-course-player-name-progress, .slug-path-player .default.gray-minimal .-first-col-tabs, .slug-path-player .default.gray-minimal .lrn-path-cont-attachment-btn {
  background-color: var(--ash-700);
}

.slug-path-player .default.gray-minimal .-default-course-player-name, .slug-path-player .default.gray-minimal .-default-course-player-progress-perc-num, .slug-path-player .default.gray-minimal .-default-course-player-back, .slug-path-player .default.gray-minimal .first-col-tab-lbl, .slug-path-player .default.gray-minimal .learning-program-context__title, .slug-path-player .default.gray-minimal .learning-program-context__subtitle {
  color: var(--salmon-200) !important;
}

.-default-course-player-name {
  font-family: "Poppins", sans-serif;
  font-size: 2em
}

.-default-course-player-progress-bar {
  background-color: #555 !important;
  border-radius: 4px;
}

.-default-course-player-progress-bar-interior {
  background-color: var(--salmon-400) !important;
  border-radius: 4px;
}

.lrn-path-chapter-open .lrn-path-chapter-name {
  font-weight: 600 !important;
  color: var(--ash-700) !important;
}
