.account-app {
  padding: 0;
}

.account-app > h2 {
  color: var(--dark-text);
}

.account-section-header .learnworlds-button.text-only {
  color: var(--dark-text);
  border: 2px solid var(--dark-text);
  padding: 4px 8px !important;
}
.account-section-header .learnworlds-button.lw-currentColor-text,
.account-section-header .learnworlds-button.lw-currentColor-text:hover {
  color: var(--salmon-400);
}

.account-section-header .learnworlds-button:hover {
  background: var(--dark-text);
  color: var(--clear-text);
  cursor: pointer !important;
}

#tabsWrapper { background-color: #212121 !important; }

.account-section-navigation a {
  margin-bottom: 24px !important;
  text-wrap: balance;
}
.account-section-navigation a:not(.active):hover {
  text-decoration: underline;
}
.account-section-navigation a.active {
  font-weight: bold;
}

.profile-tab-wrapper {
  border-radius: var(--radius);
  margin: 8px;
}
.profile-tab-wrapper:not(.profile-tab-wrapper-selected):hover { background-color: #2f2f2f !important; }
.profile-tab-wrapper::after { display: none; }

.slug-profile #profFrame { padding-top: 64px; }

#badges,
#coursesTaken {
  background: var(--brand-bg) !important;
  padding-top: 64px;
  padding-bottom: 32px;
}

#badges .title .learnworlds-overline-text,
#coursesTaken .title .learnworlds-overline-text {
  font-size: 2em;
}
