.lw-topbar > .lw-h-row { background: none; }

.lw-topbar-notif {
  top: 4px !important;
  background: red !important;
}
.lw-topbar-notif .lw-topbar-notif-lbl {
  color: var(--body-bg-color);
  font-weight: bold;
}
