h1, h2, h3, .learnworlds-main-text-huge, h4 {
  font-weight: 600 !important;
  text-wrap: balance;
}

h1.hero-heading { font-size: 128px }
h1.hero-subheading { font-size: 96px }

@media (max-width: 480px) {
  h1.hero-heading { font-size: 96px }
  h1.hero-subheading { font-size: 56px !important}
  .learnworlds-heading.learnworlds-heading-large { font-size: 96px }
  .learnworlds-subheading.learnworlds-subheading-large { font-size: 6rem }
}

.learnworlds-main-text {
  text-wrap: pretty;
}

.learnworlds-main-text-very-large {
  font-weight: 500
}