.learnworlds-button {
  font-weight: 600;
}

.lw-load-more .learnworlds-button-wrapper {
  margin-top: 0 !important;
}

.lw-load-more .learnworlds-button-wrapper .learnworlds-button {
  padding-right: 192px;
  padding-left: 192px;
}
