.slug-payment [data-node-type="payment-product-details"] {
  background: var(--salmon-150);
  border-radius: var(--radius);
  border: none !important;
}

.slug-payment h3.learnworlds-heading3 {
  text-transform: none !important;
}

.checkout-button-wrapper button {
  background: var(--ash-700);
  color: var(--brand-text);
}

.checkout-button-wrapper button:not([disabled]):hover {
  background: var(--ash-900);
  color: var(--clear-text);
}

.checkout-coupon button {
  background: var(--salmon-150);
  border: 2px solid var(--ash-700);
  color: var(--dark-text);
}

.checkout-coupon button:not([disabled]):hover {
  background: var(--ash-700);
  color: var(--brand-text);
}

.checkout-coupon .learnworlds-main-text-small {
  margin-bottom: 8px;
}


.single-product-view {
  background: var(--salmon-200);
  padding: var(--radius);
  border-radius: var(--radius);
}

.single-product-view .learnworlds-heading3 {
  display: block;
  margin-bottom: 16px !important;
}

.single-product-view .learnworlds-main-text {
  font-size: 14px;
}

.single-product-view .learnworlds-overline-text {
  background: var(--salmon-150);
  display: inline-block;
  padding: 4px 16px;
  border-radius: var(--radius);
  margin-bottom: 16px !important;
}
