/* ==========================================================================
    BLOQUE DE TÍTULO DEL CURSO
========================================================================== */


.course-title-block h1 {
  height: 4em;
  display: flex;
  align-items: flex-end;
}

.course-title-block .course-description-block {
  height: 7.75em;
  display: flex;
  align-items: flex-end;
}

.product-enroll-template .learnworlds-button {
  padding: 10px;
}
.product-enroll-template .v-bottom {
  display: block;
  margin-bottom: -4px;
}
.product-enroll-template .bundle-button-price strong {
  font-size: 1.3em;
}
