/* ==========================================================================
    LISTADO DE CURSOS
========================================================================== */

/** Toggle course image displaying **/
.lw-course-card .learnworlds-image {
  display: none;
}

.lw-course-card .lw-light-bg { background: var(--salmon-200); }
.lw-course-card:hover .lw-light-bg { background: var(--ash-700); color: var(--salmon-200)}

.lw-course-card .lw-body-bg  { background: var(--salmon-200); }
.lw-course-card:hover .lw-body-bg { background: var(--ash-700); color: var(--salmon-200)}

.lw-course-card .lw-dark-bg  { background: var(--ash-700); }
.lw-course-card:hover .lw-dark-bg { background: var(--salmon-200); color: var(--ash-700)}

.lw-course-card .learnworlds-image {
  border-radius: 8px
}

.lw-course-card .lw-course-card-descr {
  font-size: 14px;
}
.lw-course-card .lw-card-author .learnworlds-image {
  display: block;
}

/*.lw-course-card .lw-card-author .learnworlds-image:before {
  content: "";
  position: absolute;
  background: var(--salmon-100);
  width: 100%;
  height: 100%;
  mix-blend-mode: color;
}*/

.lw-course-card .lw-card-author {
  align-items: end;
}

.lw-course-card .lw-text-color-fadeout20 {
  opacity: 1;
}

.lw-course-card .lw-card-author .learnworlds-main-text {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin-left: 6px;
}

.lw-course-card .lw-card-author .learnworlds-main-text:before {
  content: "Una formación de";
  display: block;
  font-weight: normal;
  font-size: 0.8em;
}

.lw-course-card .lw-card-top:not(.card-link) {
	height: 280px;
}

.lw-course-card .learnworlds-overline-text {
  display: inline-block !important;
  border-radius: 24px;
  padding: 4px 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.lw-course-card .lw-light-bg .lw-card-top .learnworlds-overline-text { background: var(--salmon-300); color: var(--ash-700) }
.lw-course-card:hover .lw-light-bg .lw-card-top .learnworlds-overline-text { background: var(--salmon-200); color: var(--ash-700)}

.lw-course-card .lw-body-bg .lw-card-top .learnworlds-overline-text { background: var(--salmon-200); color: var(--ash-700) }
.lw-course-card:hover .lw-body-bg .lw-card-top .learnworlds-overline-text { background: var(--salmon-200); color: var(--ash-700)}

.lw-course-card .lw-dark-bg .lw-card-top .learnworlds-overline-text { background: var(--salmon-300); color: var(--ash-700) }
.lw-course-card:hover .lw-dark-bg .lw-card-top .learnworlds-overline-text { background: var(--salmon-100); color: var(--ash-700)}

.lw-course-card .lw-light-bg h3.learnworlds-heading3,
.lw-course-card .lw-body-bg h3.learnworlds-heading3, 
.lw-course-card .lw-light-bg .lw-course-card-descr,  
.lw-course-card .lw-body-bg .lw-course-card-descr,   
.lw-course-card .lw-light-bg .learnworlds-main-text,  
.lw-course-card .lw-body-bg .learnworlds-main-text,
.lw-course-card .lw-light-bg .lw-course-card-price,
.lw-course-card .lw-body-bg .lw-course-card-price { 
  color: var(--ash-700) 
}

.lw-course-card:hover .lw-light-bg h3.learnworlds-heading3,
.lw-course-card:hover .lw-body-bg h3.learnworlds-heading3, 
.lw-course-card:hover .lw-light-bg .lw-course-card-descr,  
.lw-course-card:hover .lw-body-bg .lw-course-card-descr,   
.lw-course-card:hover .lw-light-bg .learnworlds-main-text,  
.lw-course-card:hover .lw-body-bg .learnworlds-main-text,
.lw-course-card:hover .lw-light-bg .lw-course-card-price,
.lw-course-card:hover .lw-body-bg .lw-course-card-price { 
  color: var(--salmon-200) 
}

.lw-course-card > .lw-body-bg,
.lw-course-card > .lw-light-bg,
.lw-course-card > .lw-dark-bg {
  border-radius: var(--radius);
}

.lw-course-card > .learnworlds-image:first-child {
  margin: 4px 0;
  border-radius: var(--radius);
}

.lw-course-card .lw-course-card-price {
  font-size: 34px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
}

.lw-course-card .lw-interior-mt .span_5_of_12 {
  flex-basis: 100% !important;
}

.lw-course-card .lw-interior-mt .lw-deleted-price {
  font-size: 24px;
}

.lw-course-card > .lw-body-bg,
.lw-course-card > .lw-light-bg,
.lw-course-card > .lw-dark-bg {
  border-radius: var(--radius);
}

.lw-course-card > .learnworlds-image {
  margin: 4px 0;
  border-radius: var(--radius);
}

.lw-course-card .lw-card-overlay {
  border-radius: var(--radius);
}

.lw-course-card .lw-light-bg .product-card-enroll-button { background: var(--ash-700); color: var(--salmon-200) }
.lw-course-card:hover .lw-light-bg .product-card-enroll-button,
.lw-course-card.lw-course-card8.lw-light-bg:hover .product-card-enroll-button { background: var(--salmon-200); color: var(--ash-700)}

.lw-course-card .lw-body-bg .product-card-enroll-button { background: var(--ash-700); color: var(--salmon-200) }
.lw-course-card:hover .lw-body-bg .product-card-enroll-button,
.lw-course-card.lw-course-card8.lw-body-bg:hover .product-card-enroll-button  { background: var(--salmon-200); color: var(--ash-700)}

.lw-course-card .lw-dark-bg .product-card-enroll-button { background: var(--salmon-200); color: var(--ash-700) }
.lw-course-card:hover .lw-dark-bg .product-card-enroll-button,
.lw-course-card.lw-course-card8.lw-dark-bg:hover .product-card-enroll-button  { background: var(--ash-700); color: var(--salmon-200)}


/*** STYLE SPECIFIC **/

/** CARD 1 **/

.lw-course-card1 .lw-course-card-price {
  text-align: left;
}

@media (min-width: 481px) {
  .lw-course-card1 .lw-card-top h3 {
    height: 3.5em;
    -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
  }

  .lw-course-card1  .lw-course-card-descr {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/** CARD 5 **/

.lw-course-card.lw-course-card5 .stretched-bg {
  border-radius: var(--radius);
  margin-bottom: 4px;
}

/** CARD 6 **/

.lw-course-card.lw-course-card6,
.lw-course-card.lw-course-card6 > div {
  border-radius: var(--radius);
}

.lw-course-card.lw-course-card6 {
  color: var(--ash-700);
}

.lw-course-card.lw-course-card6 h3 {
  font-weight: 600;
}

.lw-course-card.lw-course-card6 .learnworlds-overline-text {
  background: color-mix(in srgb, var(--ash-700) 40%, transparent); 
  backdrop-filter: blur(8px);
  color: var(--salmon-200);
  width: 160px;
}

.lw-course-card.lw-course-card6 .lw-card-overlay > a {
  justify-content: space-between;
}

/** CARD 7 **/

.lw-course-card.lw-course-card7 {
  text-align: left;
}

.lw-course-card.lw-course-card7 h3 {
  font-size: 2.40rem;
}

.lw-course-card.lw-course-card7 .lw-card-top {
	height: 160px;
}

/** CARD 8 **/

.lw-course-card.lw-course-card8 {
    box-shadow: none; 
    border-radius: var(--radius);
}

.lw-course-card.lw-course-card8.lw-light-bg { background: var(--salmon-200);}
.lw-course-card.lw-course-card8.lw-light-bg:hover { background: var(--ash-700); color: var(--salmon-200)}

.lw-course-card.lw-course-card8.lw-body-bg  { background: var(--salmon-200);}
.lw-course-card.lw-course-card8.lw-body-bg:hover { background: var(--ash-700); color: var(--salmon-200)}

.lw-course-card.lw-course-card8.lw-dark-bg  { background: var(--ash-700);}
.lw-course-card.lw-course-card8.lw-dark-bg:hover { background: var(--salmon-200); color: var(--ash-700)}

.lw-course-card.lw-course-card8 {
    box-shadow: none; 
    border-radius: var(--radius);
  background: none !important;
  padding: 0 !important;
}

.lw-course-card.lw-course-card8 > div {
  gap: 4px;
}

.lw-course-card.lw-course-card8 > div > div {
  padding: 0 !important;
  border-radius: var(--radius);
}

.lw-course-card.lw-course-card8 .learnworlds-image {
  border-radius: var(--radius) !important;
}

.lw-course-card.lw-course-card8 > div > div:nth-child(2) .learnworlds-element {
  border-radius: var(--radius);
  padding: 16px;
}

.lw-course-card.lw-course-card8.lw-body-bg > div > div:nth-child(2) .learnworlds-element {
  background: var(--salmon-200);
}
.lw-course-card.lw-course-card8.lw-light-bg > div > div:nth-child(2) .learnworlds-element {
  background: var(--salmon-200);
}
.lw-course-card.lw-course-card8.lw-dark-bg > div > div:nth-child(2) .learnworlds-element {
  background: var(--ash-700);
}
.lw-course-card.lw-course-card8.lw-body-bg:hover > div > div:nth-child(2) .learnworlds-element {
  background: var(--ash-700);
}
.lw-course-card.lw-course-card8.lw-light-bg:hover > div > div:nth-child(2) .learnworlds-element {
  background: var(--ash-700);
}
.lw-course-card.lw-course-card8.lw-dark-bg:hover > div > div:nth-child(2) .learnworlds-element {
  background: var(--salmon-200);
}

.lw-course-card.lw-course-card8.lw-body-bg .product-card-enroll-button {
  background: var(--ash-700) !important;
}
.lw-course-card.lw-course-card8.lw-light-bg .product-card-enroll-button {
  background: var(--ash-700) !important;
}
.lw-course-card.lw-course-card8.lw-dark-bg .product-card-enroll-button {
  background: var(--salmon-200) !important;
  color: var(--ash-700);
}

.lw-course-card.lw-course-card8.lw-body-bg:hover .product-card-enroll-button {
  background: var(--salmon-200) !important;
}
.lw-course-card.lw-course-card8.lw-light-bg:hover .product-card-enroll-button {
  background: var(--salmon-200) !important;
}
.lw-course-card.lw-course-card8.lw-dark-bg:hover .product-card-enroll-button {
  background: var(--ash-700) !important;
  color: var(--salmon-200);
}

.lw-course-card.lw-course-card8 .learnworlds-overline-text {
  padding: 4px 16px !important;
  opacity: 1;
}

.lw-course-card.lw-course-card8.lw-body-bg .learnworlds-overline-text {
  background: var(--salmon-200) !important;
  color: var(--ash-700);
}
.lw-course-card.lw-course-card8.lw-light-bg .learnworlds-overline-text {
  background: var(--salmon-200) !important;
  color: var(--ash-700);
}
.lw-course-card.lw-course-card8.lw-dark-bg .learnworlds-overline-text {
  background: var(--ash-1000) !important;
  color: var(--salmon-200);
}

.lw-course-card.lw-course-card8 h3 {
  padding: 0 !important;
  margin-top: 16px;
}

.lw-course-card.lw-course-card8 .lw-course-card-price {
  padding: 0 !important;
}

.lw-course-card.lw-course-card8 .lw-card-top {
    height: 192px;
}

/** CARD 9 **/

.lw-course-card.lw-course-card9 .lw-card-top {
    height: auto;
}

/** CARD 9 **/

.lw-course-card.lw-course-card9 .lw-card-top {
    height: auto;
}

/** CARD 10 **/

.lw-course-card.lw-course-card10 {
  background: none;
}

.lw-course-card.lw-course-card9 .lw-card-top,
.lw-course-card.lw-course-card10 .lw-card-top{
    height: auto;
}

.lw-course-card.lw-course-card10 > div > div:nth-child(1) {
  padding: 0 !important;
}

.lw-course-card.lw-course-card10 > div > div:nth-child(1) .learnworlds-image {
  border-radius: var(--radius);
}

.lw-course-card.lw-course-card10 > div {
  gap: 8px;
}

.lw-course-card.lw-course-card10 > div > div:nth-child(2) {
  border-radius: var(--radius);
  padding: 16px !important;
}

.lw-course-card.lw-course-card10.lw-body-bg > div > div:nth-child(2) {
  background: var(--salmon-200);
}
.lw-course-card.lw-course-card10.lw-light-bg > div > div:nth-child(2) {
  background: var(--salmon-200);
}
.lw-course-card.lw-course-card10.lw-dark-bg > div > div:nth-child(2) {
  background: var(--ash-700);
}

.lw-course-card.lw-course-card10.lw-body-bg:hover > div > div:nth-child(2) {
  background: var(--ash-700);
  color: var(--salmon-200);
}
.lw-course-card.lw-course-card10.lw-light-bg:hover > div > div:nth-child(2) {
  background: var(--ash-700);
  color: var(--salmon-200);
}
.lw-course-card.lw-course-card10.lw-dark-bg:hover > div > div:nth-child(2) {
  background: var(--salmon-200);
    color: var(--ash-700);
}

.lw-course-card.lw-course-card10 .lw-card-author .learnworlds-image {
  width: 48px;
}

.lw-course-card.lw-course-card10 .learnworlds-overline-text {
  margin-bottom: 16px !important;
}

.lw-course-card.lw-course-card10.lw-body-bg .learnworlds-overline-text {
  background: var(--salmon-200);
  color: var(--ash-700);
}
.lw-course-card.lw-course-card10.lw-light-bg .learnworlds-overline-text {
  background: var(--salmon-200);
  color: var(--ash-700);
}
.lw-course-card.lw-course-card10.lw-dark-bg .learnworlds-overline-text {
  background: var(--salmon-200);
  color: var(--ash-700);
}

.course-catalog {
  padding: 0 !important;
}
.-search-with-filters {
  background: var(--salmon-200);
  padding: 24px 24px;
  border-radius: var(--radius);
  margin-bottom: 16px;
}

.learnworlds-button-wrapper {
  gap: 12px;
  align-content: center;
}

.learnworlds-button.filter,
.lw-filter-option {
  background: var(--ash-700);
  color: var(--salmon-200);
  border-radius: 16px;
  padding: 0px 16px !important;
  line-height: 32px;
  height: 32px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  margin: 0 !important;
}

.filter:blank {
  background: red !important;
}

.-search-box {
  background: var(--salmon-300);
  border-radius: 8px;
  padding: 4px 0;
}

.-search-box .learnworlds-input {
  border: none !important;
  background: none;
  font-size: 16px;
} 
.-search-box .learnworlds-input::placeholder {
  color: var(--ash-900);
  font-size: 16px;
}
.-search-box button {
  border: none !important;
} 

.lw-course-card {
  margin-bottom: var(--gap-M);
}
.-search-with-filters {
  margin-bottom: var(--gap-M);
}

.learnworlds-button-wrapper.lw-filters > .filter:nth-child(2) {
  display: none;
}
  
.lw-course-card .lw-interior-mt:not(:has(> *))::before {
  content: "Muy pronto…";
  display: block;
  height: 40px;
  line-height: 48px;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  xfont-style: italic;
  color: inherit;
  opacity: 0.4;
}

