.landing-form-input, .select-wrapper .learnworlds-input {
  background: var(--silver);
  border: none;
}

.landing-form-input, .learnworlds-input {
  background: var(--silver);
  border: none;
}

.slug-payment .learnworlds-input {
  background: white;
}
