/***************************************
    PROFILE
***************************************/

[data-node-type="user-details"] {
  background: var(--salmon-150);
}

.p-0 {
  margin: 0px;
}

[data-node-type="my-pages-stats"] .lw-body-bg {
  background: var(--salmon-150);
  border-radius: 16px;
}

.lw-community-card {
  background: var(--salmon-50);
  border-radius: 16px;
}
