/* ==========================================================================
    SLIDER CONTROLS
========================================================================== */

.lw-slider__controls button span {
	padding: 8px;
  border-radius: 50%;
  aspect-ratio: 1;
  background: #ffffff44;
  backdrop-filter: blur(2px);
  transition: background 0.25s ease-in;
}

.lw-slider__controls button {
margin: 0 4px;
}

.lw-slider__controls button span:hover {
  background: #ffffff99;
}

.course-teacher-slider button span {
    background: #00000055;
}
.course-teacher-slider button span:hover {
    background: #00000088;
}
