.slug-start [data-node-type="user-stats"],
.slug-start [data-node-type="user-stats"] .lw-body-bg {
  background: var(--ash-700) !important;
  color: var(--salmon-200) !important;
}

.slug-start [data-node-type="user-stats"] .learnworlds-main-text-very-large,
.slug-start [data-node-type="user-stats"] .learnworlds-overline-text {
  font-family: Poppins, sans-serif;
  font-weight: 600;
}
